.center-span{
    display: block;
    text-align: center;
}
.bg-login{
    width:  100%;
    height: 100%;
    background-image: url('/assets/imagenes/negro.jpg');
    background-size: cover;
    background-position: center;
    
}

.security-login{
    width: 70%;
    border-radius: 50%;  
}
.bg-transparent{
    background: transparent;
}
.center{
    text-align: center;
}
//margin
.mg-top-2{
    margin-top: 2px;
}

.mg-top-5{
    margin-top: 5px;
}
.mg-top-10{
    margin-top: 10px;
}
.mg-top-20{
    margin-top: 20px;
}
.mg-top-30{
    margin-top: 30px;
}
.mg-top-40{
    margin-top: 40px;
}
//padding
.no-padding{
    padding: 0px
}
.padding-40{
    padding: 40px
}
.padding-20{
    padding: 20px
}
.padding-top-30{
    padding-top: 30px;
}
//font style
.regular{
    font-weight: 400
}
.light{
    font-weight: 300
    
}
.bold{
    font-weight: 700;
    color: #F2F4F3;
}
.medium{
    font-weight: 500;
    color: #F2F4F3;
}
//pand

