

<ion-content>
  <!--  BACKGROUND  -->
<div class="bg-login">
  <ion-back-button class='back-btn' defaultHref='/login'></ion-back-button> <!-- Boton de regreso -->
  <!--  OVERLAY  -->
  <div class="overlay">
   <!--  LOGO  -->
    <div class="center padding-top-30">
      <img src="../../assets/imagenes/blanco.png" class="security-login"> 
    </div>
     <!--  register  -->
    <div class="padding-20" >
      <ion-item class="bg-transparent no-padding">
        <ion-label stacked class="blancohueso light" position="floating" >Nombre Completo</ion-label>
        <ion-input type="text" [(ngModel)]="user.name" ></ion-input>
      </ion-item>
       <ion-item class="bg-transparent no-padding">
          <ion-label stacked class="blancohueso light" position="floating" >Email</ion-label>
          <ion-input type="email" [(ngModel)]="user.email" ></ion-input>
        </ion-item>
        <ion-item class="bg-transparent no-padding mg-top-10">
          <ion-label stacked class="blancohueso light" position= "floating">Password</ion-label>
          <ion-input type="password"  [(ngModel)]="user.password" ></ion-input>
        </ion-item>
         <ion-row>
           <ion-col>
             <ion-button class="mg-top-5" shape="round"
             type="submit" color="dark" (click)="register()"
             expand="block">Crear cuenta</ion-button>
           </ion-col>
         </ion-row>
         <ion-row>
          <ion-col>
            <p class="form__link" class="ion-text-center medium mg-top-5">¿Ya tienes una cuenta? <a routerLink="/login">Inicia sesión!</a> </p>
          </ion-col>
         </ion-row>
         
    </div>
  </div>
</div>
</ion-content>
